<!-- About-->
<div id="about" class="basic-1 bg-black">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h2 class=" blast-root1" arial-label="My, Myself & I"></h2>
                    <ng-container class="contact-form">
                        <span class="blast blast-root1" aria-hidden="true" style="opacity: 1;">M</span>
                        <span class="blast blast-root1" aria-hidden="true" style="opacity: 1;">y</span>
                        <span class="blast blast-root1" aria-hidden="true" style="opacity: 1;">,</span>
                        <span class="blast blast-root1" aria-hidden="true" style="opacity: 1; margin-left: 3%;">M</span>
                        <span class="blast blast-root1" aria-hidden="true" style="opacity: 1;">y</span>
                        <span class="blast blast-root1" aria-hidden="true" style="opacity: 1;">s</span>
                        <span class="blast blast-root1" aria-hidden="true" style="opacity: 1;">e</span>
                        <span class="blast blast-root1" aria-hidden="true" style="opacity: 1;">l</span>
                        <span class="blast blast-root1" aria-hidden="true" style="opacity: 1;">f</span>
                        <span class="blast blast-root1" aria-hidden="true" style="opacity: 1;margin-left: 3%;">&</span>
                        <span class="blast blast-root1" aria-hidden="true" style="opacity: 1; margin-left: 2%;">I</span>
                    </ng-container>
                    <p class="about-me">I’m a Front-End Developer located in Spain. I have a serious passion for UI
                        effects, animations and creating intuitive, dynamic user experiences.</p>

                    <p class="about-me">Well-organised person, problem solver, independent employee with high attention
                        to detail. Fan
                        of all kind of creatives stuff, outdoor activities and music.</p>

                    <p class="about-me"> Interested in the entire frontend spectrum and working on ambitious projects
                        with positive
                        people.</p>
                    <p><a class="contact-me" routerLink="/contact">Let's make something special.</a>
                    </p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6 ">
                <img src="assets/images/code.gif" alt="code gif">
            </div>
            <div class="col-12">
                <div class="text-container">
                    <div class="time ">2021 - PRESENT</div>
                    <h6>Freelance Web Developer</h6>
                    <p>Working happily on my own web projects</p>

                    <div class="time ">2021 - PRESENT</div>
                    <h6>Intership at Explorings Startup</h6>
                    <p>Beautiful project for a Startup</p>
                </div>
            </div>
        </div> <!-- end of text-container -->
    </div> <!-- end of col -->
</div> <!-- end of row -->
<!-- end of container -->
<!-- end of basic-1 -->
<!-- end of about -->