<!-- Header -->
<header id="header" class="header">
    <p class="tags top-tag">
        &lt;/html&gt;
        <br>
    </p>
    <div class="container">
        <div class="flex-row">
            <div class="col-lg-12">
                <div class="main-container">
                    <h1 class="tags tag-h1" aria-label="Hi,
                     I'm Jordi, web developer">
                    </h1>
                    <span class="blast" aria-hidden="true" style="opacity: 1;">H</span>
                    <span class="blast" aria-hidden="true" style="opacity: 1;">i</span>
                    <span class="blast" aria-hidden="true" style="opacity: 1;">,</span>
                    <br>
                    <span class="blast" aria-hidden="true" style="opacity: 1;">I</span>
                    <span class="blast" aria-hidden="true" style="opacity: 1;">'</span>
                    <span class="blast" aria-hidden="true" style="opacity: 1;">m</span>
                    <input type="image" src="assets/images/logo.png" style="margin-left: 3%;" width="53" height="73px">
                    <span class="blast" aria-hidden="true" style="opacity: 1;">o</span>
                    <span class="blast" aria-hidden="true" style="opacity: 1;">r</span>
                    <span class="blast" aria-hidden="true" style="opacity: 1;">d</span>
                    <span class="blast" aria-hidden="true" style="opacity: 1;">i</span>
                    <span class="blast" aria-hidden="true" style="opacity: 1;">,</span>
                    <br>
                    <span class="blast" aria-hidden="true" style="opacity: 1;">w</span>
                    <span class="blast" aria-hidden="true" style="opacity: 1;">e</span>
                    <span class="blast" aria-hidden="true" style="opacity: 1;">b</span>
                    <span class="blast" aria-hidden="true" style="opacity: 1; margin-left: 2%;"></span>
                    <span class="blast" aria-hidden="true" style="opacity: 1;">d</span>
                    <span class="blast" aria-hidden="true" style="opacity: 1;">e</span>
                    <span class="blast" aria-hidden="true" style="opacity: 1;">v</span>
                    <span class="blast" aria-hidden="true" style="opacity: 1;">e</span>
                    <span class="blast" aria-hidden="true" style="opacity: 1;">l</span>
                    <span class="blast" aria-hidden="true" style="opacity: 1;">o</span>
                    <span class="blast" aria-hidden="true" style="opacity: 1;">p</span>
                    <span class="blast" aria-hidden="true" style="opacity: 1;">e</span>
                    <span class="blast" aria-hidden="true" style="opacity: 1;">r</span>
                    <h1 class="tags tag-end"></h1>

                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div>
        <a class="btn-solid-lg page-scroll button" routerLink="/contact">Contact
            Me!</a><!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of header -->
<!-- end of header -->